{% extends 'main/sample.html' %}
<!-- ___________________ -->
{% block title %}main{% endblock %}
<!-- ___________________ -->
{% block body %}
<div class="features">
	<h1>Главная станица</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras egestas, lorem
		in feugiat malesuada, tortor elit condimentum turpis, vel volutpat sapien
		nisi vel enim. Ut imperdiet fermentum orci et consectetur. In porta laoreet
		dui vel vestibulum. Donec nisi nisi, iaculis vel rhoncus sit amet, euismod
		ac urna. Donec iaculis, dui eget faucibus suscipit, neque est aliquet metus,
		eu sagittis est mi rutrum libero. Sed in eros libero. Quisque condimentum
		eget enim nec luctus.
	</p>
	<button class="btn btn-warning">Попробуй нажать</button>
</div>
{% endblock %}
